In [1]:
from py5paisa import FivePaisaClient
from py5paisa.order import Order, OrderType, Exchange, Bo_co_order
import time
import math
import pandas as pd
import warnings
from datetime import datetime

In [2]:
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
cred = {
    "APP_NAME": "5P56409084",
    "APP_SOURCE": "9217",
    "USER_ID": "pybeQPEbjju",
    "PASSWORD": "AESDZQGqyAa",
    "USER_KEY": "542GTEZguBbLERUXRZe26rLvfWU2X2KD",
    "ENCRYPTION_KEY": "l8sRTIsjl1JhUrz8X48XQJzKGI4k0gft",
}
client = FivePaisaClient(
    email="vasuappliedai@gmail.com", passwd="Vasudeva@1", dob="19981218", cred=cred
)
client.login()

 23:36:45 | Logged in!!

In [3]:
def get_current_expiry_strikes(symbol, start_strike, end_strike):
    temp_df = script_df["FullName"].str.contains(
        pat=symbol + " CE", regex=True)
    call_df = script_df[temp_df]
    call_df = call_df[call_df["StrikeRate"] > start_strike]
    call_df = call_df[call_df["StrikeRate"] < end_strike]
    call_df.to_csv("bank_nifty_call_expiry.csv")
    temp_df = script_df["FullName"].str.contains(
        pat=symbol + " PE", regex=True)
    put_df = script_df[temp_df]
    put_df = put_df[put_df["StrikeRate"] > start_strike]
    put_df = put_df[put_df["StrikeRate"] < end_strike]
    put_df.to_csv("bank_nifty_put_expiry.csv")
    return call_df, put_df

def map_prices_to_strike_prices(data_frame, entry_point=None):
    temp_rows = []
    for _, row in data_frame.iterrows():
        script_code = row["Scripcode"]
        try:
            if entry_point is None:
                close_point = client.historical_data("N", "D", script_code, "5m", 
                    given_date, given_date).tail(1)
                temp_rows.append(close_point["Close"].iloc[0])
            else:
                close_points = client.historical_data("N", "D", script_code, "1m", 
                    given_date, given_date)
                if close_points is not None:
                    close_points["Datetime"] = pd.to_datetime(close_points["Datetime"])
                    close_point = close_points[close_points["Datetime"]==datetime.fromisoformat(str(entry_point))]["Close"].iloc[0]
                    temp_rows.append(close_point)
                else: 
                    temp_rows.append(9999)
        except:
            temp_rows.append(9999)
            continue
    data_frame["LTP"] = temp_rows
    return data_frame.sort_values(by=["LTP"])


def adjust_strangle(option_type,desired_price,entry_point):
    call_df, put_df = get_current_expiry_strikes(bank_nifty_symbol, strikePrice*0.9, strikePrice*1.1)
    if option_type == "CE":
        call_option_chain = map_prices_to_strike_prices(call_df,entry_point)
        call_script_code = call_option_chain[call_option_chain["LTP"]<desired_price].tail(1)["Scripcode"].iloc[0]
        call_sell = call_option_chain[call_option_chain["LTP"]<desired_price].tail(1)["LTP"].iloc[0]
        call_symbol = call_option_chain[call_option_chain["LTP"]<desired_price].tail(1)["Name"].iloc[0]
        print("Sold call call_sell, call_symbol, call_script_code ",call_sell,call_symbol, call_script_code)
    if option_type == "PE":
        put_option_chain = map_prices_to_strike_prices(put_df,entry_point)
        desired_put_df = put_option_chain[put_option_chain["LTP"]<desired_price].tail(1)
        put_script_code = desired_put_df["Scripcode"].iloc[0]
        put_sell = desired_put_df["LTP"].iloc[0]
        put_symbol = desired_put_df["Name"].iloc[0]
        print("Sold put sell put_sell, put_symbol, put_script_code ",put_sell,put_symbol,put_script_code)


def start_strangle(entry_time,call_script_code,put_script_code):
    call_df = client.historical_data('N','D',call_script_code,'1m',given_date,given_date)
    call_df["Datetime"] = pd.to_datetime(call_df["Datetime"])
    call_df["Close CE"] = call_df["Close"]
    call_df = call_df[call_df["Datetime"]>datetime.fromisoformat(entry_time)]
    call_df = call_df[["Datetime","Close CE"]]
    put_df = client.historical_data('N','D',put_script_code,'1m',given_date,given_date)
    put_df["Datetime"] = pd.to_datetime(put_df["Datetime"])
    put_df["Close PE"] = put_df["Close"]
    put_df = put_df[put_df["Datetime"]>datetime.fromisoformat(entry_time)]
    put_df = put_df[["Datetime","Close PE"]]
    merged_df = pd.merge(call_df,put_df,on="Datetime")
    for index,row in merged_df.iterrows() : 
        call_point = row["Close CE"]
        put_point = row["Close PE"]
        if(call_point*0.5 > put_point):
            print("PE is half of CE at time, call_price and put_price ",row["Datetime"],call_point,put_point)
            adjust_strangle("PE",call_point*0.85,row["Datetime"])
            return "PE",row["Datetime"]
        elif(call_point < put_point*0.5):        
            print("CE is half of PE at index, call_price and put_price ",row["Datetime"],call_point,put_point)
            adjust_strangle("CE",put_point*0.85,row["Datetime"])
            return "CE",row["Datetime"]

       
def rounded_number(number):
    return (round(strikePrice / 1000, 1) * 1000).astype(int)

In [11]:
# This code should be executed on Thursday or when profit is booked
nifty_script_code = 999920000
banknifty_script_code = 999920005
given_date = datetime.today().strftime("%Y-%m-%d")
script_df = pd.read_csv("scripmaster-csv-format.csv",low_memory=False)
bank_nifty_symbol = "BANKNIFTY 13 Apr 2022"
strikePrice = client.historical_data("N", "C", banknifty_script_code, "1m", given_date, given_date)["Open"].iloc[15]
strikePrice = rounded_number(strikePrice)
strikePrice

38500

In [12]:
call_df, put_df = get_current_expiry_strikes(bank_nifty_symbol, strikePrice*0.9, strikePrice*1.1)
call_df,put_df

(       Exch ExchType  Scripcode                               Name Series  \
 47753     N        D      43829  BANKNIFTY 13 Apr 2022 CE 39000.00     XX
 47768     N        D      43844  BANKNIFTY 13 Apr 2022 CE 39100.00     XX
 47775     N        D      43851  BANKNIFTY 13 Apr 2022 CE 39200.00     XX
 47778     N        D      43854  BANKNIFTY 13 Apr 2022 CE 39300.00     XX
 53123     N        D      54101  BANKNIFTY 13 Apr 2022 CE 39800.00     XX
 53126     N        D      54104  BANKNIFTY 13 Apr 2022 CE 39900.00     XX
 53128     N        D      54106  BANKNIFTY 13 Apr 2022 CE 40000.00     XX
 53132     N        D      54110  BANKNIFTY 13 Apr 2022 CE 40100.00     XX
 53134     N        D      54112  BANKNIFTY 13 Apr 2022 CE 40200.00     XX
 53136     N        D      54114  BANKNIFTY 13 Apr 2022 CE 40300.00     XX
 53140     N        D      54118  BANKNIFTY 13 Apr 2022 CE 40400.00     XX
 109212    N        D      37652  BANKNIFTY 13 Apr 2022 CE 39400.00     XX
 110462    N        D      39655  BANKNIFTY 13 Apr 2022 CE 39500.00     XX
 110466    N        D      39659  BANKNIFTY 13 Apr 2022 CE 39600.00     XX
 110501    N        D      39694  BANKNIFTY 13 Apr 2022 CE 39700.00     XX
 114344    N        D      43804  BANKNIFTY 13 Apr 2022 CE 38600.00     XX
 114346    N        D      43806  BANKNIFTY 13 Apr 2022 CE 38700.00     XX
 114353    N        D      43813  BANKNIFTY 13 Apr 2022 CE 38800.00     XX
 114358    N        D      43818  BANKNIFTY 13 Apr 2022 CE 38900.00     XX
 124258    N        D      52967  BANKNIFTY 13 Apr 2022 CE 34700.00     XX
 124260    N        D      52969  BANKNIFTY 13 Apr 2022 CE 34800.00     XX
 124265    N        D      52974  BANKNIFTY 13 Apr 2022 CE 34900.00     XX
 124270    N        D      52979  BANKNIFTY 13 Apr 2022 CE 35000.00     XX
 124272    N        D      52981  BANKNIFTY 13 Apr 2022 CE 35100.00     XX
 124275    N        D      52984  BANKNIFTY 13 Apr 2022 CE 35200.00     XX
 124277    N        D      52986  BANKNIFTY 13 Apr 2022 CE 35300.00     XX
 124279    N        D      52988  BANKNIFTY 13 Apr 2022 CE 35400.00     XX
 124281    N        D      52990  BANKNIFTY 13 Apr 2022 CE 35500.00     XX
 124290    N        D      52999  BANKNIFTY 13 Apr 2022 CE 35600.00     XX
 124294    N        D      53003  BANKNIFTY 13 Apr 2022 CE 35700.00     XX
 124296    N        D      53005  BANKNIFTY 13 Apr 2022 CE 35800.00     XX
 124298    N        D      53007  BANKNIFTY 13 Apr 2022 CE 35900.00     XX
 124300    N        D      53009  BANKNIFTY 13 Apr 2022 CE 36000.00     XX
 124305    N        D      53014  BANKNIFTY 13 Apr 2022 CE 36100.00     XX
 124307    N        D      53016  BANKNIFTY 13 Apr 2022 CE 36200.00     XX
 124310    N        D      53019  BANKNIFTY 13 Apr 2022 CE 36300.00     XX
 124314    N        D      53023  BANKNIFTY 13 Apr 2022 CE 36400.00     XX
 124316    N        D      53025  BANKNIFTY 13 Apr 2022 CE 36500.00     XX
 124318    N        D      53027  BANKNIFTY 13 Apr 2022 CE 36600.00     XX
 124320    N        D      53029  BANKNIFTY 13 Apr 2022 CE 36700.00     XX
 124325    N        D      53034  BANKNIFTY 13 Apr 2022 CE 36800.00     XX
 124327    N        D      53036  BANKNIFTY 13 Apr 2022 CE 36900.00     XX
 124329    N        D      53038  BANKNIFTY 13 Apr 2022 CE 37000.00     XX
 124331    N        D      53040  BANKNIFTY 13 Apr 2022 CE 37100.00     XX
 124333    N        D      53042  BANKNIFTY 13 Apr 2022 CE 37200.00     XX
 124338    N        D      53049  BANKNIFTY 13 Apr 2022 CE 37300.00     XX
 124340    N        D      53051  BANKNIFTY 13 Apr 2022 CE 37400.00     XX
 124342    N        D      53053  BANKNIFTY 13 Apr 2022 CE 37500.00     XX
 124344    N        D      53055  BANKNIFTY 13 Apr 2022 CE 37600.00     XX
 124346    N        D      53057  BANKNIFTY 13 Apr 2022 CE 37700.00     XX
 124348    N        D      53059  BANKNIFTY 13 Apr 2022 CE 37800.00     XX
 124350    N        D      53061  BANKNIFTY 13 Apr 2022 CE 37900.00     XX
 124353    N        D      53064  BANKNIFTY 13 Apr 2022 CE 38000.00     XX
 124356    N        D      53067  BANKNIFTY 13 Apr 2022 CE 38100.00     XX
 124358    N        D      53069  BANKNIFTY 13 Apr 2022 CE 38200.00     XX
 124360    N        D      53071  BANKNIFTY 13 Apr 2022 CE 38300.00     XX
 124362    N        D      53073  BANKNIFTY 13 Apr 2022 CE 38400.00     XX
 124364    N        D      53075  BANKNIFTY 13 Apr 2022 CE 38500.00     XX

                      Expiry CpType  StrikeRate WireCat       ISIN  \
 47753   2022-04-13 14:30:00     CE     39000.0          BANKNIFTY
 47768   2022-04-13 14:30:00     CE     39100.0          BANKNIFTY
 47775   2022-04-13 14:30:00     CE     39200.0          BANKNIFTY
 47778   2022-04-13 14:30:00     CE     39300.0          BANKNIFTY
 53123   2022-04-13 14:30:00     CE     39800.0          BANKNIFTY
 53126   2022-04-13 14:30:00     CE     39900.0          BANKNIFTY
 53128   2022-04-13 14:30:00     CE     40000.0          BANKNIFTY
 53132   2022-04-13 14:30:00     CE     40100.0          BANKNIFTY
 53134   2022-04-13 14:30:00     CE     40200.0          BANKNIFTY
 53136   2022-04-13 14:30:00     CE     40300.0          BANKNIFTY
 53140   2022-04-13 14:30:00     CE     40400.0          BANKNIFTY
 109212  2022-04-13 14:30:00     CE     39400.0          BANKNIFTY
 110462  2022-04-13 14:30:00     CE     39500.0          BANKNIFTY
 110466  2022-04-13 14:30:00     CE     39600.0          BANKNIFTY
 110501  2022-04-13 14:30:00     CE     39700.0          BANKNIFTY
 114344  2022-04-13 14:30:00     CE     38600.0          BANKNIFTY
 114346  2022-04-13 14:30:00     CE     38700.0          BANKNIFTY
 114353  2022-04-13 14:30:00     CE     38800.0          BANKNIFTY
 114358  2022-04-13 14:30:00     CE     38900.0          BANKNIFTY
 124258  2022-04-13 14:30:00     CE     34700.0          BANKNIFTY
 124260  2022-04-13 14:30:00     CE     34800.0          BANKNIFTY
 124265  2022-04-13 14:30:00     CE     34900.0          BANKNIFTY
 124270  2022-04-13 14:30:00     CE     35000.0          BANKNIFTY
 124272  2022-04-13 14:30:00     CE     35100.0          BANKNIFTY
 124275  2022-04-13 14:30:00     CE     35200.0          BANKNIFTY
 124277  2022-04-13 14:30:00     CE     35300.0          BANKNIFTY
 124279  2022-04-13 14:30:00     CE     35400.0          BANKNIFTY
 124281  2022-04-13 14:30:00     CE     35500.0          BANKNIFTY
 124290  2022-04-13 14:30:00     CE     35600.0          BANKNIFTY
 124294  2022-04-13 14:30:00     CE     35700.0          BANKNIFTY
 124296  2022-04-13 14:30:00     CE     35800.0          BANKNIFTY
 124298  2022-04-13 14:30:00     CE     35900.0          BANKNIFTY
 124300  2022-04-13 14:30:00     CE     36000.0          BANKNIFTY
 124305  2022-04-13 14:30:00     CE     36100.0          BANKNIFTY
 124307  2022-04-13 14:30:00     CE     36200.0          BANKNIFTY
 124310  2022-04-13 14:30:00     CE     36300.0          BANKNIFTY
 124314  2022-04-13 14:30:00     CE     36400.0          BANKNIFTY
 124316  2022-04-13 14:30:00     CE     36500.0          BANKNIFTY
 124318  2022-04-13 14:30:00     CE     36600.0          BANKNIFTY
 124320  2022-04-13 14:30:00     CE     36700.0          BANKNIFTY
 124325  2022-04-13 14:30:00     CE     36800.0          BANKNIFTY
 124327  2022-04-13 14:30:00     CE     36900.0          BANKNIFTY
 124329  2022-04-13 14:30:00     CE     37000.0          BANKNIFTY
 124331  2022-04-13 14:30:00     CE     37100.0          BANKNIFTY
 124333  2022-04-13 14:30:00     CE     37200.0          BANKNIFTY
 124338  2022-04-13 14:30:00     CE     37300.0          BANKNIFTY
 124340  2022-04-13 14:30:00     CE     37400.0          BANKNIFTY
 124342  2022-04-13 14:30:00     CE     37500.0          BANKNIFTY
 124344  2022-04-13 14:30:00     CE     37600.0          BANKNIFTY
 124346  2022-04-13 14:30:00     CE     37700.0          BANKNIFTY
 124348  2022-04-13 14:30:00     CE     37800.0          BANKNIFTY
 124350  2022-04-13 14:30:00     CE     37900.0          BANKNIFTY
 124353  2022-04-13 14:30:00     CE     38000.0          BANKNIFTY
 124356  2022-04-13 14:30:00     CE     38100.0          BANKNIFTY
 124358  2022-04-13 14:30:00     CE     38200.0          BANKNIFTY
 124360  2022-04-13 14:30:00     CE     38300.0          BANKNIFTY
 124362  2022-04-13 14:30:00     CE     38400.0          BANKNIFTY
 124364  2022-04-13 14:30:00     CE     38500.0          BANKNIFTY

                                  FullName
 47753   BANKNIFTY 13 Apr 2022 CE 39000.00
 47768   BANKNIFTY 13 Apr 2022 CE 39100.00
 47775   BANKNIFTY 13 Apr 2022 CE 39200.00
 47778   BANKNIFTY 13 Apr 2022 CE 39300.00
 53123   BANKNIFTY 13 Apr 2022 CE 39800.00
 53126   BANKNIFTY 13 Apr 2022 CE 39900.00
 53128   BANKNIFTY 13 Apr 2022 CE 40000.00
 53132   BANKNIFTY 13 Apr 2022 CE 40100.00
 53134   BANKNIFTY 13 Apr 2022 CE 40200.00
 53136   BANKNIFTY 13 Apr 2022 CE 40300.00
 53140   BANKNIFTY 13 Apr 2022 CE 40400.00
 109212  BANKNIFTY 13 Apr 2022 CE 39400.00
 110462  BANKNIFTY 13 Apr 2022 CE 39500.00
 110466  BANKNIFTY 13 Apr 2022 CE 39600.00
 110501  BANKNIFTY 13 Apr 2022 CE 39700.00
 114344  BANKNIFTY 13 Apr 2022 CE 38600.00
 114346  BANKNIFTY 13 Apr 2022 CE 38700.00
 114353  BANKNIFTY 13 Apr 2022 CE 38800.00
 114358  BANKNIFTY 13 Apr 2022 CE 38900.00
 124258  BANKNIFTY 13 Apr 2022 CE 34700.00
 124260  BANKNIFTY 13 Apr 2022 CE 34800.00
 124265  BANKNIFTY 13 Apr 2022 CE 34900.00
 124270  BANKNIFTY 13 Apr 2022 CE 35000.00
 124272  BANKNIFTY 13 Apr 2022 CE 35100.00
 124275  BANKNIFTY 13 Apr 2022 CE 35200.00
 124277  BANKNIFTY 13 Apr 2022 CE 35300.00
 124279  BANKNIFTY 13 Apr 2022 CE 35400.00
 124281  BANKNIFTY 13 Apr 2022 CE 35500.00
 124290  BANKNIFTY 13 Apr 2022 CE 35600.00
 124294  BANKNIFTY 13 Apr 2022 CE 35700.00
 124296  BANKNIFTY 13 Apr 2022 CE 35800.00
 124298  BANKNIFTY 13 Apr 2022 CE 35900.00
 124300  BANKNIFTY 13 Apr 2022 CE 36000.00
 124305  BANKNIFTY 13 Apr 2022 CE 36100.00
 124307  BANKNIFTY 13 Apr 2022 CE 36200.00
 124310  BANKNIFTY 13 Apr 2022 CE 36300.00
 124314  BANKNIFTY 13 Apr 2022 CE 36400.00
 124316  BANKNIFTY 13 Apr 2022 CE 36500.00
 124318  BANKNIFTY 13 Apr 2022 CE 36600.00
 124320  BANKNIFTY 13 Apr 2022 CE 36700.00
 124325  BANKNIFTY 13 Apr 2022 CE 36800.00
 124327  BANKNIFTY 13 Apr 2022 CE 36900.00
 124329  BANKNIFTY 13 Apr 2022 CE 37000.00
 124331  BANKNIFTY 13 Apr 2022 CE 37100.00
 124333  BANKNIFTY 13 Apr 2022 CE 37200.00
 124338  BANKNIFTY 13 Apr 2022 CE 37300.00
 124340  BANKNIFTY 13 Apr 2022 CE 37400.00
 124342  BANKNIFTY 13 Apr 2022 CE 37500.00
 124344  BANKNIFTY 13 Apr 2022 CE 37600.00
 124346  BANKNIFTY 13 Apr 2022 CE 37700.00
 124348  BANKNIFTY 13 Apr 2022 CE 37800.00
 124350  BANKNIFTY 13 Apr 2022 CE 37900.00
 124353  BANKNIFTY 13 Apr 2022 CE 38000.00
 124356  BANKNIFTY 13 Apr 2022 CE 38100.00
 124358  BANKNIFTY 13 Apr 2022 CE 38200.00
 124360  BANKNIFTY 13 Apr 2022 CE 38300.00
 124362  BANKNIFTY 13 Apr 2022 CE 38400.00
 124364  BANKNIFTY 13 Apr 2022 CE 38500.00  ,
        Exch ExchType  Scripcode                               Name Series  \
 47756     N        D      43832  BANKNIFTY 13 Apr 2022 PE 39000.00     XX
 47769     N        D      43845  BANKNIFTY 13 Apr 2022 PE 39100.00     XX
 47777     N        D      43853  BANKNIFTY 13 Apr 2022 PE 39200.00     XX
 47779     N        D      43855  BANKNIFTY 13 Apr 2022 PE 39300.00     XX
 53125     N        D      54103  BANKNIFTY 13 Apr 2022 PE 39800.00     XX
 53127     N        D      54105  BANKNIFTY 13 Apr 2022 PE 39900.00     XX
 53129     N        D      54107  BANKNIFTY 13 Apr 2022 PE 40000.00     XX
 53133     N        D      54111  BANKNIFTY 13 Apr 2022 PE 40100.00     XX
 53135     N        D      54113  BANKNIFTY 13 Apr 2022 PE 40200.00     XX
 53137     N        D      54115  BANKNIFTY 13 Apr 2022 PE 40300.00     XX
 53141     N        D      54119  BANKNIFTY 13 Apr 2022 PE 40400.00     XX
 110461    N        D      39654  BANKNIFTY 13 Apr 2022 PE 39400.00     XX
 110465    N        D      39658  BANKNIFTY 13 Apr 2022 PE 39500.00     XX
 110498    N        D      39691  BANKNIFTY 13 Apr 2022 PE 39600.00     XX
 110817    N        D      40030  BANKNIFTY 13 Apr 2022 PE 39700.00     XX
 114345    N        D      43805  BANKNIFTY 13 Apr 2022 PE 38600.00     XX
 114347    N        D      43807  BANKNIFTY 13 Apr 2022 PE 38700.00     XX
 114357    N        D      43817  BANKNIFTY 13 Apr 2022 PE 38800.00     XX
 114359    N        D      43819  BANKNIFTY 13 Apr 2022 PE 38900.00     XX
 124259    N        D      52968  BANKNIFTY 13 Apr 2022 PE 34700.00     XX
 124264    N        D      52973  BANKNIFTY 13 Apr 2022 PE 34800.00     XX
 124269    N        D      52978  BANKNIFTY 13 Apr 2022 PE 34900.00     XX
 124271    N        D      52980  BANKNIFTY 13 Apr 2022 PE 35000.00     XX
 124273    N        D      52982  BANKNIFTY 13 Apr 2022 PE 35100.00     XX
 124276    N        D      52985  BANKNIFTY 13 Apr 2022 PE 35200.00     XX
 124278    N        D      52987  BANKNIFTY 13 Apr 2022 PE 35300.00     XX
 124280    N        D      52989  BANKNIFTY 13 Apr 2022 PE 35400.00     XX
 124282    N        D      52991  BANKNIFTY 13 Apr 2022 PE 35500.00     XX
 124291    N        D      53000  BANKNIFTY 13 Apr 2022 PE 35600.00     XX
 124295    N        D      53004  BANKNIFTY 13 Apr 2022 PE 35700.00     XX
 124297    N        D      53006  BANKNIFTY 13 Apr 2022 PE 35800.00     XX
 124299    N        D      53008  BANKNIFTY 13 Apr 2022 PE 35900.00     XX
 124301    N        D      53010  BANKNIFTY 13 Apr 2022 PE 36000.00     XX
 124306    N        D      53015  BANKNIFTY 13 Apr 2022 PE 36100.00     XX
 124309    N        D      53018  BANKNIFTY 13 Apr 2022 PE 36200.00     XX
 124313    N        D      53022  BANKNIFTY 13 Apr 2022 PE 36300.00     XX
 124315    N        D      53024  BANKNIFTY 13 Apr 2022 PE 36400.00     XX
 124317    N        D      53026  BANKNIFTY 13 Apr 2022 PE 36500.00     XX
 124319    N        D      53028  BANKNIFTY 13 Apr 2022 PE 36600.00     XX
 124324    N        D      53033  BANKNIFTY 13 Apr 2022 PE 36700.00     XX
 124326    N        D      53035  BANKNIFTY 13 Apr 2022 PE 36800.00     XX
 124328    N        D      53037  BANKNIFTY 13 Apr 2022 PE 36900.00     XX
 124330    N        D      53039  BANKNIFTY 13 Apr 2022 PE 37000.00     XX
 124332    N        D      53041  BANKNIFTY 13 Apr 2022 PE 37100.00     XX
 124337    N        D      53048  BANKNIFTY 13 Apr 2022 PE 37200.00     XX
 124339    N        D      53050  BANKNIFTY 13 Apr 2022 PE 37300.00     XX
 124341    N        D      53052  BANKNIFTY 13 Apr 2022 PE 37400.00     XX
 124343    N        D      53054  BANKNIFTY 13 Apr 2022 PE 37500.00     XX
 124345    N        D      53056  BANKNIFTY 13 Apr 2022 PE 37600.00     XX
 124347    N        D      53058  BANKNIFTY 13 Apr 2022 PE 37700.00     XX
 124349    N        D      53060  BANKNIFTY 13 Apr 2022 PE 37800.00     XX
 124352    N        D      53063  BANKNIFTY 13 Apr 2022 PE 37900.00     XX
 124355    N        D      53066  BANKNIFTY 13 Apr 2022 PE 38000.00     XX
 124357    N        D      53068  BANKNIFTY 13 Apr 2022 PE 38100.00     XX
 124359    N        D      53070  BANKNIFTY 13 Apr 2022 PE 38200.00     XX
 124361    N        D      53072  BANKNIFTY 13 Apr 2022 PE 38300.00     XX
 124363    N        D      53074  BANKNIFTY 13 Apr 2022 PE 38400.00     XX
 124365    N        D      53076  BANKNIFTY 13 Apr 2022 PE 38500.00     XX

                      Expiry CpType  StrikeRate WireCat       ISIN  \
 47756   2022-04-13 14:30:00     PE     39000.0          BANKNIFTY
 47769   2022-04-13 14:30:00     PE     39100.0          BANKNIFTY
 47777   2022-04-13 14:30:00     PE     39200.0          BANKNIFTY
 47779   2022-04-13 14:30:00     PE     39300.0          BANKNIFTY
 53125   2022-04-13 14:30:00     PE     39800.0          BANKNIFTY
 53127   2022-04-13 14:30:00     PE     39900.0          BANKNIFTY
 53129   2022-04-13 14:30:00     PE     40000.0          BANKNIFTY
 53133   2022-04-13 14:30:00     PE     40100.0          BANKNIFTY
 53135   2022-04-13 14:30:00     PE     40200.0          BANKNIFTY
 53137   2022-04-13 14:30:00     PE     40300.0          BANKNIFTY
 53141   2022-04-13 14:30:00     PE     40400.0          BANKNIFTY
 110461  2022-04-13 14:30:00     PE     39400.0          BANKNIFTY
 110465  2022-04-13 14:30:00     PE     39500.0          BANKNIFTY
 110498  2022-04-13 14:30:00     PE     39600.0          BANKNIFTY
 110817  2022-04-13 14:30:00     PE     39700.0          BANKNIFTY
 114345  2022-04-13 14:30:00     PE     38600.0          BANKNIFTY
 114347  2022-04-13 14:30:00     PE     38700.0          BANKNIFTY
 114357  2022-04-13 14:30:00     PE     38800.0          BANKNIFTY
 114359  2022-04-13 14:30:00     PE     38900.0          BANKNIFTY
 124259  2022-04-13 14:30:00     PE     34700.0          BANKNIFTY
 124264  2022-04-13 14:30:00     PE     34800.0          BANKNIFTY
 124269  2022-04-13 14:30:00     PE     34900.0          BANKNIFTY
 124271  2022-04-13 14:30:00     PE     35000.0          BANKNIFTY
 124273  2022-04-13 14:30:00     PE     35100.0          BANKNIFTY
 124276  2022-04-13 14:30:00     PE     35200.0          BANKNIFTY
 124278  2022-04-13 14:30:00     PE     35300.0          BANKNIFTY
 124280  2022-04-13 14:30:00     PE     35400.0          BANKNIFTY
 124282  2022-04-13 14:30:00     PE     35500.0          BANKNIFTY
 124291  2022-04-13 14:30:00     PE     35600.0          BANKNIFTY
 124295  2022-04-13 14:30:00     PE     35700.0          BANKNIFTY
 124297  2022-04-13 14:30:00     PE     35800.0          BANKNIFTY
 124299  2022-04-13 14:30:00     PE     35900.0          BANKNIFTY
 124301  2022-04-13 14:30:00     PE     36000.0          BANKNIFTY
 124306  2022-04-13 14:30:00     PE     36100.0          BANKNIFTY
 124309  2022-04-13 14:30:00     PE     36200.0          BANKNIFTY
 124313  2022-04-13 14:30:00     PE     36300.0          BANKNIFTY
 124315  2022-04-13 14:30:00     PE     36400.0          BANKNIFTY
 124317  2022-04-13 14:30:00     PE     36500.0          BANKNIFTY
 124319  2022-04-13 14:30:00     PE     36600.0          BANKNIFTY
 124324  2022-04-13 14:30:00     PE     36700.0          BANKNIFTY
 124326  2022-04-13 14:30:00     PE     36800.0          BANKNIFTY
 124328  2022-04-13 14:30:00     PE     36900.0          BANKNIFTY
 124330  2022-04-13 14:30:00     PE     37000.0          BANKNIFTY
 124332  2022-04-13 14:30:00     PE     37100.0          BANKNIFTY
 124337  2022-04-13 14:30:00     PE     37200.0          BANKNIFTY
 124339  2022-04-13 14:30:00     PE     37300.0          BANKNIFTY
 124341  2022-04-13 14:30:00     PE     37400.0          BANKNIFTY
 124343  2022-04-13 14:30:00     PE     37500.0          BANKNIFTY
 124345  2022-04-13 14:30:00     PE     37600.0          BANKNIFTY
 124347  2022-04-13 14:30:00     PE     37700.0          BANKNIFTY
 124349  2022-04-13 14:30:00     PE     37800.0          BANKNIFTY
 124352  2022-04-13 14:30:00     PE     37900.0          BANKNIFTY
 124355  2022-04-13 14:30:00     PE     38000.0          BANKNIFTY
 124357  2022-04-13 14:30:00     PE     38100.0          BANKNIFTY
 124359  2022-04-13 14:30:00     PE     38200.0          BANKNIFTY
 124361  2022-04-13 14:30:00     PE     38300.0          BANKNIFTY
 124363  2022-04-13 14:30:00     PE     38400.0          BANKNIFTY
 124365  2022-04-13 14:30:00     PE     38500.0          BANKNIFTY

                                  FullName
 47756   BANKNIFTY 13 Apr 2022 PE 39000.00
 47769   BANKNIFTY 13 Apr 2022 PE 39100.00
 47777   BANKNIFTY 13 Apr 2022 PE 39200.00
 47779   BANKNIFTY 13 Apr 2022 PE 39300.00
 53125   BANKNIFTY 13 Apr 2022 PE 39800.00
 53127   BANKNIFTY 13 Apr 2022 PE 39900.00
 53129   BANKNIFTY 13 Apr 2022 PE 40000.00
 53133   BANKNIFTY 13 Apr 2022 PE 40100.00
 53135   BANKNIFTY 13 Apr 2022 PE 40200.00
 53137   BANKNIFTY 13 Apr 2022 PE 40300.00
 53141   BANKNIFTY 13 Apr 2022 PE 40400.00
 110461  BANKNIFTY 13 Apr 2022 PE 39400.00
 110465  BANKNIFTY 13 Apr 2022 PE 39500.00
 110498  BANKNIFTY 13 Apr 2022 PE 39600.00
 110817  BANKNIFTY 13 Apr 2022 PE 39700.00

In [13]:
call_option_chain = map_prices_to_strike_prices(call_df,"2022-04-05T09:30:00")
put_option_chain = map_prices_to_strike_prices(put_df,"2022-04-05T09:30:00")

 23:40:50 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 23:40:50 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 23:40:50 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 23:40:51 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 23:40:51 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 23:40:57 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 23:40:58 | Length mismatch: Expected axis has 0 elements, new values have 6 elements

In [ ]:
import pickle
# option_chains = (call_option_chain,put_option_chain)
# with open("option_chain.pickle","wb") as file:
#     pickle.dump(option_chains,file)

file = open("option_chain.pickle","rb")
call_option_chain,put_option_chain = pickle.load(file)

In [14]:
desired_call_price = 115
desired_put_price = 115

In [15]:
call_option_chain[call_option_chain["LTP"]<desired_call_price].tail(1)

,Exch,ExchType,Scripcode,Name,Series,Expiry,CpType,StrikeRate,WireCat,ISIN,FullName,LTP
53128,N,D,54106,BANKNIFTY 13 Apr 2022 CE 40000.00,XX,2022-04-13 14:30:00,CE,40000.0,,BANKNIFTY,BANKNIFTY 13 Apr 2022 CE 40000.00,111.9

In [16]:
put_option_chain[put_option_chain["LTP"]<desired_put_price].tail(1)

,Exch,ExchType,Scripcode,Name,Series,Expiry,CpType,StrikeRate,WireCat,ISIN,FullName,LTP
124324,N,D,53033,BANKNIFTY 13 Apr 2022 PE 36700.00,XX,2022-04-13 14:30:00,PE,36700.0,,BANKNIFTY,BANKNIFTY 13 Apr 2022 PE 36700.00,113.0

In [17]:
call_script_code = call_option_chain[call_option_chain["LTP"]<desired_call_price].tail(1)["Scripcode"].iloc[0]
put_script_code = put_option_chain[put_option_chain["LTP"]<desired_put_price].tail(1)["Scripcode"].iloc[0]
call_script_code,put_script_code

(54106, 53033)

In [34]:
call_script_code = 43844
put_script_code = 53041

In [35]:
start_strangle("2022-04-05T15:18:00",call_script_code,put_script_code)

In [32]:
given_date="2022-03-30"

In [36]:
def day_close_check(call_script_code,put_script_code):
    timestamp = given_date+"T15:25:00"
    call_df = client.historical_data('N','D',call_script_code,'1m',given_date,given_date)
    call_point = call_df[call_df["Datetime"]==timestamp]["Close"].iloc[0]
    put_df = client.historical_data('N','D',put_script_code,'1m',given_date,given_date)
    put_point = put_df[put_df["Datetime"]==timestamp]["Close"].iloc[0]
    if(call_point < put_point*0.75):
        print("Buy CE at ", call_point)
        print("Buy CE and sell CE near to put strike price")
        adjust_strangle("CE",put_point*0.85,timestamp)
    if(put_point < call_point*0.75):
        print("Buy PE at ", put_point)
        print("selling PE near to call strike price")
        adjust_strangle("PE",call_point*0.85,timestamp)
    
day_close_check(call_script_code,put_script_code)

Buy CE at  170.1
Buy CE and sell CE near to put strike price
 23:53:21 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 23:53:21 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 23:53:21 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 23:53:22 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 23:53:22 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
Sold call call_sell, call_symbol, call_script_code  170.1 BANKNIFTY 13 Apr 2022 CE 39100.00 43844