In [1]:
from py5paisa import FivePaisaClient
from py5paisa.order import Order, OrderType, Exchange, Bo_co_order
import time
import math
import pandas as pd
import warnings
from datetime import datetime

In [2]:
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
cred = {
    "APP_NAME": "5P56409084",
    "APP_SOURCE": "9217",
    "USER_ID": "pybeQPEbjju",
    "PASSWORD": "AESDZQGqyAa",
    "USER_KEY": "542GTEZguBbLERUXRZe26rLvfWU2X2KD",
    "ENCRYPTION_KEY": "l8sRTIsjl1JhUrz8X48XQJzKGI4k0gft",
}
client = FivePaisaClient(
    email="vasuappliedai@gmail.com", passwd="Vasudeva@1", dob="19981218", cred=cred
)
client.login()

 07:15:08 | Logged in!!

In [4]:
def get_current_expiry_strikes(symbol, start_strike, end_strike):
    temp_df = script_df["FullName"].str.contains(
        pat=symbol + " CE", regex=True)
    call_df = script_df[temp_df]
    call_df = call_df[call_df["StrikeRate"] > start_strike]
    call_df = call_df[call_df["StrikeRate"] < end_strike]
    call_df.to_csv("bank_nifty_call_expiry.csv")
    temp_df = script_df["FullName"].str.contains(
        pat=symbol + " PE", regex=True)
    put_df = script_df[temp_df]
    put_df = put_df[put_df["StrikeRate"] > start_strike]
    put_df = put_df[put_df["StrikeRate"] < end_strike]
    put_df.to_csv("bank_nifty_put_expiry.csv")
    return call_df, put_df

def map_prices_to_strike_prices(data_frame, entry_point=None):
    temp_rows = []
    for _, row in data_frame.iterrows():
        script_code = row["Scripcode"]
        try:
            if entry_point is None:
                close_point = client.historical_data("N", "D", script_code, "5m", 
                    given_date, given_date).tail(1)
                temp_rows.append(close_point["Close"].iloc[0])
            else:
                close_points = client.historical_data("N", "D", script_code, "1m", 
                    given_date, given_date)
                if close_points is not None:
                    close_points["Datetime"] = pd.to_datetime(close_points["Datetime"])
                    close_point = close_points[close_points["Datetime"]==datetime.fromisoformat(str(entry_point))]["Close"].iloc[0]
                    temp_rows.append(close_point)
                else: 
                    temp_rows.append(9999)
        except:
            temp_rows.append(9999)
            continue
    data_frame["LTP"] = temp_rows
    return data_frame.sort_values(by=["LTP"])


def adjust_strangle(option_type,desired_price,entry_point):
    call_df, put_df = get_current_expiry_strikes(bank_nifty_symbol, strikePrice*0.9, strikePrice*1.1)
    if option_type == "CE":
        call_option_chain = map_prices_to_strike_prices(call_df,entry_point)
        call_script_code = call_option_chain[call_option_chain["LTP"]<desired_price].tail(1)["Scripcode"].iloc[0]
        call_sell = call_option_chain[call_option_chain["LTP"]<desired_price].tail(1)["LTP"].iloc[0]
        call_symbol = call_option_chain[call_option_chain["LTP"]<desired_price].tail(1)["Name"].iloc[0]
        print("Sold call call_sell, call_symbol, call_script_code ",call_sell,call_symbol, call_script_code)
    if option_type == "PE":
        put_option_chain = map_prices_to_strike_prices(put_df,entry_point)
        desired_put_df = put_option_chain[put_option_chain["LTP"]<desired_price].tail(1)
        put_script_code = desired_put_df["Scripcode"].iloc[0]
        put_sell = desired_put_df["LTP"].iloc[0]
        put_symbol = desired_put_df["Name"].iloc[0]
        print("Sold put sell put_sell, put_symbol, put_script_code ",put_sell,put_symbol,put_script_code)


def start_strangle(entry_time,call_script_code,put_script_code):
    call_df = client.historical_data('N','D',call_script_code,'1m',given_date,given_date)
    call_df["Datetime"] = pd.to_datetime(call_df["Datetime"])
    call_df["Close CE"] = call_df["Close"]
    call_df = call_df[call_df["Datetime"]>datetime.fromisoformat(entry_time)]
    call_df = call_df[["Datetime","Close CE"]]
    put_df = client.historical_data('N','D',put_script_code,'1m',given_date,given_date)
    put_df["Datetime"] = pd.to_datetime(put_df["Datetime"])
    put_df["Close PE"] = put_df["Close"]
    put_df = put_df[put_df["Datetime"]>datetime.fromisoformat(entry_time)]
    put_df = put_df[["Datetime","Close PE"]]
    merged_df = pd.merge(call_df,put_df,on="Datetime")
    for index,row in merged_df.iterrows() : 
        call_point = row["Close CE"]
        put_point = row["Close PE"]
        if(call_point*0.5 > put_point):
            print("PE is half of CE at time, call_price and put_price ",row["Datetime"],call_point,put_point)
            adjust_strangle("PE",call_point*0.8,row["Datetime"])
            return "PE",row["Datetime"]
        elif(call_point < put_point*0.5):        
            print("CE is half of PE at index, call_price and put_price ",row["Datetime"],call_point,put_point)
            adjust_strangle("CE",put_point*0.8,row["Datetime"])
            return "CE",row["Datetime"]

       
def rounded_number(number):
    return (round(strikePrice / 1000, 1) * 1000).astype(int)

In [5]:
# This code should be executed on Thursday or when profit is booked
nifty_script_code = 999920000
banknifty_script_code = 999920005
given_date = datetime.today().strftime("%Y-%m-%d")
script_df = pd.read_csv("scripmaster-csv-format.csv",low_memory=False)
bank_nifty_symbol = "BANKNIFTY 07 Apr 2022"
strikePrice = client.historical_data("N", "C", banknifty_script_code, "1m", given_date, given_date)["Open"].iloc[240]
strikePrice = rounded_number(strikePrice)
strikePrice

36300

In [9]:
call_df, put_df = get_current_expiry_strikes(bank_nifty_symbol, strikePrice*0.9, strikePrice*1.1)
call_df,put_df

(       Exch ExchType  Scripcode                               Name Series  \
 53108     N        D      54086  BANKNIFTY 07 Apr 2022 CE 39800.00     XX
 53110     N        D      54088  BANKNIFTY 07 Apr 2022 CE 39900.00     XX
 107759    N        D      35450  BANKNIFTY 07 Apr 2022 CE 39400.00     XX
 107779    N        D      35476  BANKNIFTY 07 Apr 2022 CE 39500.00     XX
 108133    N        D      35859  BANKNIFTY 07 Apr 2022 CE 39600.00     XX
 ...     ...      ...        ...                                ...    ...
 113185    N        D      42217  BANKNIFTY 07 Apr 2022 CE 38900.00     XX
 114296    N        D      43756  BANKNIFTY 07 Apr 2022 CE 39000.00     XX
 114329    N        D      43789  BANKNIFTY 07 Apr 2022 CE 39100.00     XX
 114332    N        D      43792  BANKNIFTY 07 Apr 2022 CE 39200.00     XX
 114334    N        D      43794  BANKNIFTY 07 Apr 2022 CE 39300.00     XX

                      Expiry CpType  StrikeRate WireCat       ISIN  \
 53108   2022-04-07 14:30:00     CE     39800.0          BANKNIFTY
 53110   2022-04-07 14:30:00     CE     39900.0          BANKNIFTY
 107759  2022-04-07 14:30:00     CE     39400.0          BANKNIFTY
 107779  2022-04-07 14:30:00     CE     39500.0          BANKNIFTY
 108133  2022-04-07 14:30:00     CE     39600.0          BANKNIFTY
 ...                     ...    ...         ...     ...        ...
 113185  2022-04-07 14:30:00     CE     38900.0          BANKNIFTY
 114296  2022-04-07 14:30:00     CE     39000.0          BANKNIFTY
 114329  2022-04-07 14:30:00     CE     39100.0          BANKNIFTY
 114332  2022-04-07 14:30:00     CE     39200.0          BANKNIFTY
 114334  2022-04-07 14:30:00     CE     39300.0          BANKNIFTY

                                  FullName
 53108   BANKNIFTY 07 Apr 2022 CE 39800.00
 53110   BANKNIFTY 07 Apr 2022 CE 39900.00
 107759  BANKNIFTY 07 Apr 2022 CE 39400.00
 107779  BANKNIFTY 07 Apr 2022 CE 39500.00
 108133  BANKNIFTY 07 Apr 2022 CE 39600.00
 ...                                   ...
 113185  BANKNIFTY 07 Apr 2022 CE 38900.00
 114296  BANKNIFTY 07 Apr 2022 CE 39000.00
 114329  BANKNIFTY 07 Apr 2022 CE 39100.00
 114332  BANKNIFTY 07 Apr 2022 CE 39200.00
 114334  BANKNIFTY 07 Apr 2022 CE 39300.00

 [73 rows x 11 columns],
        Exch ExchType  Scripcode                               Name Series  \
 53109     N        D      54087  BANKNIFTY 07 Apr 2022 PE 39800.00     XX
 53111     N        D      54089  BANKNIFTY 07 Apr 2022 PE 39900.00     XX
 107778    N        D      35475  BANKNIFTY 07 Apr 2022 PE 39400.00     XX
 108132    N        D      35858  BANKNIFTY 07 Apr 2022 PE 39500.00     XX
 108134    N        D      35860  BANKNIFTY 07 Apr 2022 PE 39600.00     XX
 ...     ...      ...        ...                                ...    ...
 113186    N        D      42218  BANKNIFTY 07 Apr 2022 PE 38900.00     XX
 114302    N        D      43762  BANKNIFTY 07 Apr 2022 PE 39000.00     XX
 114331    N        D      43791  BANKNIFTY 07 Apr 2022 PE 39100.00     XX
 114333    N        D      43793  BANKNIFTY 07 Apr 2022 PE 39200.00     XX
 114335    N        D      43795  BANKNIFTY 07 Apr 2022 PE 39300.00     XX

                      Expiry CpType  StrikeRate WireCat       ISIN  \
 53109   2022-04-07 14:30:00     PE     39800.0          BANKNIFTY
 53111   2022-04-07 14:30:00     PE     39900.0          BANKNIFTY
 107778  2022-04-07 14:30:00     PE     39400.0          BANKNIFTY
 108132  2022-04-07 14:30:00     PE     39500.0          BANKNIFTY
 108134  2022-04-07 14:30:00     PE     39600.0          BANKNIFTY
 ...                     ...    ...         ...     ...        ...
 113186  2022-04-07 14:30:00     PE     38900.0          BANKNIFTY
 114302  2022-04-07 14:30:00     PE     39000.0          BANKNIFTY
 114331  2022-04-07 14:30:00     PE     39100.0          BANKNIFTY
 114333  2022-04-07 14:30:00     PE     39200.0          BANKNIFTY
 114335  2022-04-07 14:30:00     PE     39300.0          BANKNIFTY

                                  FullName
 53109   BANKNIFTY 07 Apr 2022 PE 39800.00
 53111   BANKNIFTY 07 Apr 2022 PE 39900.00
 107778  BANKNIFTY 07 Apr 2022 PE 39400.00
 108132  BANKNIFTY 07 Apr 2022 PE 39500.00
 108134  BANKNIFTY 07 Apr 2022 PE 39600.00
 ...                                   ...
 113186  BANKNIFTY 07 Apr 2022 PE 38900.00
 114302  BANKNIFTY 07 Apr 2022 PE 39000.00
 114331  BANKNIFTY 07 Apr 2022 PE 39100.00
 114333  BANKNIFTY 07 Apr 2022 PE 39200.00
 114335  BANKNIFTY 07 Apr 2022 PE 39300.00

 [73 rows x 11 columns])

In [ ]:
call_option_chain = map_prices_to_strike_prices(call_df,240)
put_option_chain = map_prices_to_strike_prices(put_df,240)

In [ ]:
import pickle
# option_chains = (call_option_chain,put_option_chain)
# with open("option_chain.pickle","wb") as file:
#     pickle.dump(option_chains,file)

file = open("option_chain.pickle","rb")
call_option_chain,put_option_chain = pickle.load(file)

In [122]:
desired_call_price = 115
desired_put_price = 115

In [36]:
call_option_chain[call_option_chain["LTP"]<desired_call_price].tail(1)

,Exch,ExchType,Scripcode,Name,Series,Expiry,CpType,StrikeRate,WireCat,ISIN,FullName,LTP
113144,N,D,42176,BANKNIFTY 07 Apr 2022 CE 37700.00,XX,2022-04-07 14:30:00,CE,37700.0,,BANKNIFTY,BANKNIFTY 07 Apr 2022 CE 37700.00,104.1

In [37]:
put_option_chain[put_option_chain["LTP"]<desired_put_price].tail(1)

,Exch,ExchType,Scripcode,Name,Series,Expiry,CpType,StrikeRate,WireCat,ISIN,FullName,LTP
111937,N,D,41909,BANKNIFTY 07 Apr 2022 PE 33400.00,XX,2022-04-07 14:30:00,PE,33400.0,,BANKNIFTY,BANKNIFTY 07 Apr 2022 PE 33400.00,101.35

In [38]:
call_script_code = call_option_chain[call_option_chain["LTP"]<desired_call_price].tail(1)["Scripcode"].iloc[0]
put_script_code = put_option_chain[put_option_chain["LTP"]<desired_put_price].tail(1)["Scripcode"].iloc[0]
call_script_code,put_script_code

(42176, 41909)

In [23]:
call_script_code = 42176
put_script_code = 41965

In [22]:
start_strangle("2022-03-30T10:22:00",call_script_code,put_script_code)

In [32]:
given_date="2022-03-30"

In [35]:
def day_close_check(call_script_code,put_script_code):
    timestamp = given_date+"T15:25:00"
    call_df = client.historical_data('N','D',call_script_code,'1m',given_date,given_date)
    call_point = call_df[call_df["Datetime"]==timestamp]["Close"].iloc[0]
    put_df = client.historical_data('N','D',put_script_code,'1m',given_date,given_date)
    put_point = put_df[put_df["Datetime"]==timestamp]["Close"].iloc[0]
    if(call_point < put_point*0.75):
        print("Buy CE at ", call_point)
        print("Buy CE and sell CE near to put strike price")
        adjust_strangle("CE",put_point*0.8,timestamp)
    if(put_point < call_point*0.75):
        print("Buy PE at ", put_point)
        print("selling PE near to call strike price")
        adjust_strangle("PE",call_point*0.8,timestamp)
    
day_close_check(call_script_code,put_script_code)

Buy PE at  88.1
selling PE near to call strike price
 07:44:57 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:44:57 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:44:57 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:44:57 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:44:57 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:44:58 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:45:05 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:45:06 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:45:06 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:45:06 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:45:06 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:45:06 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:45:07 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:45:07 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:45:07 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:45:07 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:45:07 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
 07:45:08 | Length mismatch: Expected axis has 0 elements, new values have 6 elements
Sold put sell put_sell, put_symbol, put_script_code  98.6 BANKNIFTY 07 Apr 2022 PE 34500.00 41967